[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
streamlit = "*"
tensorboard = "*"
ipykernel = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
